<footer class="footer">
  <small>
    Vist <a href="https://www.suuef.com/">Suuef-Tech UK</a>
    to read <a href="https://suuef.com/about-us/">More about us</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://suuef.com/blog/">News</a></li>
    </ul>
  </nav>
</footer>