<footer class="footer">
   <small>
    The <a href="https://www.suuef.com/">Suuef Tech Uk</a>
    by <a href="https://www.suuef.com/">Suuef Team</a>
   </small>

   <nav>
    <ul>
      <li><%= link_to  "About", about_path %></li>
      <li><%= link_to  "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/"></a></li>
    </ul>
   </nav>
   
</footer>